/* .modal{
    background-color: blueviolet;
    color: #d1ebf7;
    font-size: medium;
    font-weight: bold;
}  */

.contact-form {
  margin: 2rem ;
  padding: 1 rem;
  max-width: 800px;
  margin-left: 1rem;
}
.contact-form > * {
  padding: 0.5rem;
  margin: 1 rem auto;
  display: block;
  width: 100%;
}
.contact-form input{
    margin-bottom: 0.5rem;
}
