<section id="conoceme" class="about section full-lg-screen">
    <article class="text-center text-lg-right mb">
      <h2>sobre mi</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
        dicta, provident, ipsum in sit recusandae et quos fugiat excepturi
        minima aperiam unde quo modi rem? Aliquid asperiores enim ipsa velit
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea aliquid
        fugiat sapiente aut accusamus illum nulla iure. iandae doloribus
        libero repellendus nulla quae culpa quam, et laudantium blanditiis.
        Voluptatum atque qui commodi assumenda reiciendis consequuntur
        tempora.
      </p>
      <a href="#" class="button" target="_blank">descarga mi CV</a>
    </article>
  
    <article class="text-center mb grey-scale">
      <img  class="perfil "src="./imagenes/foto-perfil.jpg" alt="foto personal yesica fita" />
    </article>
  </section>