/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
  }
  :root {
    --color1: #cec7eb;
    --color2: #9891b3;
    --color3: #d1ebf7;
    --color4: #fff9ec;
    --color5: #9ab3bf;
    --black-color: #000000;
    --transparent-color: transparent;
    --font1: "Roboto", sans-serif;
    --header-height: 4rem;
  }
  
  /*******RESETEOS******/
  *::after,
  *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 16px;
    font-family: var(--font1);
  }
  body {
    background-color: var(--color1);
    color: var(--color3);
    overflow-x: hidden;
  }
  a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    color: var(--color3);
    font-weight: bolder;
  }
  
  h1 {
    font-size: 2rem;
    margin: 0;
  }
  h2 {
    font-size: 1.5rem;
    margin: 0;
  }
  h3 {
    font-size: 1.25rem;
    margin: 0;
  }
  h4 {
    font-size: 1rem;
    margin: 0;
  }
  h5 {
    margin: 0;
    font-size: 0.85rem;
  }
  h6 {
    margin: 0;
    font-size: 0.7rem;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  p {
    line-height: 1.8rem;
    margin-bottom: 2rem;
    letter-spacing: 1.5px;
    font-weight: bold;
    font-size: medium;
    
  }
  .perfil {
    width: 350px;
    height: 400px;
  }
  
  /******UTILITIES*******/
  /* .none {
    display: none;
  } */
  
  .button {
    width: 110px;
    height: 40px;
    padding: 0.7rem;
    margin: 0.5rem;
    margin-left: 5%;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1.2px;
    font-size: medium;
    font-weight: bold;
    background-color: var(--color2);
    color: var(--color3);
  }
  
  .contenedor {
    padding: 0.5rem;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
  }
  .grey-scale {
    filter: grayscale(0.8);
  }
  .mb {
    margin-bottom: 2rem;
  }
  .section {
    padding: 2rem 1rem;
  }
  .text-center {
    text-align: center;
  }
  .text.right {
    text-align: right;
  }
  
  @media screen and (min-width: 1024px) {
    
    .text-lg-right {
      text-align: right;
    }
  }
  /********MENU*******/
  .header {
    position: fixed;
    z-index: 8000;
    width: 100%;
    height: 4rem;
    padding: 0;
    margin: 0;
    background-color: var(--color2);
    /*display: none*/
  }
  
  img.logo {
    width: 80px;
    height: 45px;
    margin: 0;
    padding: 0;
  }
  
  .header > .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .links {
    font-size: smaller;
    font-weight: bolder;
  }
  .links a:hover {
    color: var(--color5);
    font-size: large;
  }
  
  @media screen and (min-width: 768px) {
    img.logo {
      padding-left: 0.5rem;
      padding-bottom: 0.3rem;
      width: 95px;
      height: 50px;
    }
    .links {
      letter-spacing: 3px;
      word-spacing: 0.4rem;
      font-size: large;
      font-weight: bolder;
      padding: 1rem;
    }
  }
  @media screen and (min-width: 1024px) {
    .header {
      padding-bottom: 8px;
    }
    header .contenedor {
      padding-left: 1rem;
      padding-right: 1.5rem;
      margin-bottom: 1.5rem;
    }
    img.logo {
      width: 120px;
      height: 55px;
    }
    .links {
      width: auto;
    }
    .links a:hover {
      color: var(--color5);
      font-size: larger;
      transition: all 0.5s ease-in-out;
    }
  }
  
  /********HOME*********/
  .home {
    background-image: url("./imagenes/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    opacity: 0.6;
  }
  
  .home-text {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: bolder;
    text-shadow: #727272 2px 2px 5px;
  }
  .title {
    padding-left: 5%;
    padding-bottom: 0.8rem;
  }
  .home-text > h2 {
    padding-left: 5%;
    margin-bottom: 0.8rem;
  }
  @media screen and (min-width: 768px) {
    .title {
      font-size: 2.8rem;
    }
    .home-text > h2 {
      font-size: 2.3rem;
    }
  }
  @media screen and (min-width: 1024px) {
    .title {
      font-size: 3rem;
    }
    .home-text > h2 {
      font-size: 2.5rem;
    }
  }
  /**********ABOUT**********/
  .about>article>h2{
    margin-bottom: 1rem;
    text-transform: capitalize;
  }
  
  @media screen and (min-width: 1024px) {
    .full-lg-screen {
      width: 100%;
      min-height: 100vh;
    }
  
    /****ABOUT*****/
    .about {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      justify-content: space-between;
      align-content: center;
    }
  }
  